.ipynb_checkpoints/
etok/
logs/
nohup.out
wandb/
__pycache__/
.vscode/
.neptune/
.cometml-runs/
slurm_logs/
val_outputs/
configs/
slurm-*
val_output_*
base_metrics/
train/
*.txt
*.json
*.out
REPORT.md